<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A_minha_aplicacao.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <A_minha_aplicacao.Properties.Settings>
            <setting name="peso1" serializeAs="String">
                <value>0.65</value>
            </setting>
            <setting name="peso2" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="peso3" serializeAs="String">
                <value>0.20</value>
            </setting>
            <setting name="valorDollar" serializeAs="String">
                <value>1.3538</value>
            </setting>
            <setting name="valorCoroaSueca" serializeAs="String">
                <value>9.196</value>
            </setting>
            <setting name="valorEscudoCaboVerde" serializeAs="String">
                <value>110.265</value>
            </setting>
            <setting name="valorReal" serializeAs="String">
                <value>2.7137</value>
            </setting>
        </A_minha_aplicacao.Properties.Settings>
    </userSettings>
</configuration>